</head>
<body>
  <nav>
    <i class="fa-thin fa-plane"></i>
    <a 
    href="/" class=<%= title === 'Add Meal' ? 'active' : '' %>
  >
    HOME
  </a>
    <a 
    href="/meals/new" class=<%= title === 'Add Meal' ? 'active' : '' %>
  >
    ADD MEAL
  </a>
    <a 
      href="/flights/new" class=<%= title === 'Add Flight' ? 'active' : '' %>
    >
      ADD FLIGHT
    </a>
    <a href="/flights" class=<%= title === 'Add Flight' ? 'active' : '' %>>All FLIGHTS</a>
  </nav>